@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fdfdfd;
    color: #333;
}

.header {
    background-color: #f4c1c1;
    padding: 20px 0;
    text-align: center;
}

    .header h1 {
        color: #ffffff;
    }

.nav-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

    .nav-links li {
        margin: 0 15px;
    }

    .nav-links a {
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
    }

.container {
    padding: 60px 20px;
}

.btn-primary {
    background-color: #6CA6CD;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #5c92b1;
    }

.btn-secondary {
    background-color: #aaa;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    transition: background-color 0.3s;
}

    .btn-secondary:hover {
        background-color: #888;
    }

.footer {
    background-color: #f4c1c1;
    padding: 20px 0;
    text-align: center;
}

    .footer p {
        color: #ffffff;
    }
